*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow-y: hidden; */
    overflow-x: hidden;

}
.buttons{
    width: 100%;
    margin-top: 50px;
    margin-left: 25%;
}
.buttons button{
    width: 16%;
    height: 60px;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: ivory;
    border-radius: 10px;
    cursor: pointer;
}
.block{
    width: 70vw;
    height: 80vh;
    margin: 5rem auto;
    box-shadow: 1px 10px 50px rgba(0, 0, 0, 0.5);
    background-image: url(../img/1761719.jpg);

    background-position: center;
    background-position:0px -50px;
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: relative;
}
.road{
    height: 50px;
    width: 500%;
    background-image: url(../img/Img_02.png);
    display: block;
    position:absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;

}

.bike img{
    width: 15%;
    position: absolute;
    bottom: 15px;
    margin-left: 15%;
    transition: all 0.5s linear;
}
.reverse{
    transform: scaleX(-1);
}
.wheelie{
    margin-bottom: 3%;
    transform: rotate(-30deg);
}
.stoppie{
    margin-bottom: 3%;
    transform: rotate(30deg);
}